header.mercari-header {
  height: 90px;
  background-color: #fff;
  .header-conteiner {
    padding-top: 10px;
    margin: 0 auto;
    width: 1020px;
    height: 90px;
    &__search {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &--left {
        .logo-link {
        }
      }
      &--right {
        position: relative;
        display: flex;
        margin-left: 20px;
        width: calc(100% - 140px);
        .input-default {
          display: block;
          border: solid 1px #ccc;
          border-radius: 3px;
          height: 39px;
          width: 100%;
          padding: 5px 35px 5px 10px;
        }
        .index-search-icon {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            line-height: 39px;
            padding-right: 15px;
          .index-search-btn {
          }
        }
      }
    }
    &__navber {
      height: 45px;
      display: flex;
      justify-content: space-between;
      .left-nav{
        width: 400px;
        .search-nav {
          display: flex;
          flex-direction: row;
          &__list {
            position: relative;
            line-height: 45px;
            margin-right: 10px;
            &__title {
              &__link {
                color: $black-f;
                text-decoration: none;
              }
            }
            .header-nav__parent__wrap {
              width: auto;
              position: absolute;
              top: 40px;
              left: -34px;
              z-index: 9999;
              background-color: $white-b;
              box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
              .header-nav__parent {
                display: none;
                width: 224px;
                h3 {
                  font-weight: 400;
                  font-size: 14px;
                  .header-nav__parent__name {
                    display: block;
                    padding: 0 16px;
                    line-height: 44px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 14px;
                    color: $black-f;
                    text-decoration: none;
                    &:hover {
                      background-color: $mercarired;
                      color: $white-f;
                      opacity: 1;
                      text-decoration: none;
                    }
                  }
                 .active {
                    background-color: $mercarired;
                    color: $white-f;
                  }
                }
                .header-nav__child__wrap {
                  position: absolute;
                  top: 0;
                  left: 224px;
                  bottom: 0;
                  background-color: $white-b;
                  box-shadow: 1px 0 0 0 #eee inset;
                  .header-nav__child {
                    display: none;
                    width: 224px;
                    &__name {
                      display: block;
                      padding: 8px 16px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      line-height: 14px;
                      font-size: 14px;
                      color: $black-f;
                      text-decoration: none;
                      &:hover {
                        background-color: #eee;
                        opacity: 1;
                        text-decoration: none;
                      }
                    }
                    .active {
                      background-color: #eee;
                    }
                    .header-nav__grandchild__wrap {
                      position: absolute;
                      top: 0;
                      left: 224px;
                      bottom: 0;
                      background-color: $white-b;
                      box-shadow: 1px 0 0 0 #eee inset;
                      .header-nav__grandchild {
                        display: none;
                        width: 320px;
                        &__name {
                          display: block;
                          padding: 8px 16px;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          white-space: nowrap;
                          line-height: 14px;
                          font-size: 14px;
                          color: $black-f;
                          text-decoration: none;
                          &:hover {
                            background-color: #eee;
                            opacity: 1;
                            text-decoration: none;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .rigth-nav {
        width: 600px;
        .user-nav {
          display: flex;
          justify-content: flex-end;
          &__list {
            line-height: 45px;
            margin-left: 10px;
            &__link-sign-in {
              display: block;
              border: solid 1px $mercarired;
              background-color: $mercarired;
              text-decoration: none;
              line-height: 30px;
              height: 30px;
              width: 80px;
              margin-top: 5px;
              color: $white-f;
              text-align: center;
              border-radius: 3px;
            }
            &__link-sign-up {
              display: block;
              border: solid 1px $blue-link-f;
              text-decoration: none;
              line-height: 30px;
              height: 30px;
              width: 110px;
              margin-top: 5px;
              color: $blue-link-f;
              text-align: center;
              border-radius: 3px;
              &:hover {
                background-color: #0099e8;
                background-color: #0099e8;
                color: white;
                transition-duration: 0.3s;
              }
            }
            &__link {
              text-decoration: none;
              color: $black-f;
              display: flex;
              flex-direction: row;
              .mypage-icon {
                margin: 0 10px 0 0;
                &__conteiner {
                  height: 45px;
                  padding-top: 8px;
                  img {
                    display: block;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                  }
                }
              }
              .far {
                line-height: 45px;
                font-size: 15px;
                margin-right: 10px;
              }
              .fa {
                line-height: 45px;
                font-size: 15px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.bread-crumbs {
  background-color: #fff;
  border-top: solid 1px #eee;
  height: 50px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__items{
    margin: 0 auto;
    width: 1020px;
    display: flex;
    &__value{
      margin-right: 5px;
      line-height: 50px;
      &__link {
        margin-right: 5px;
        text-decoration: none;
        color: $black-f;
      }
    }
  }
}
