%section.items-box
  =link_to "https://item.mercari.com/jp/m77071076708/" do
    %figure.items-box__photo
      = image_tag "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m84091575472_1.jpg?1527744059", height: "220", width: "213"
    .items-box-body
      .items-box-body__name サンダル
      .items-box-body__num
        .items-box-body__num__price
          ¥2,900
        .items-box-body__num__likes
          %i.far.fa-heart
          %span 1
        .items-box-body__num__tax (税込)
