.item-container {
  width:700px;
  background-color:$white-b;
  padding:24px 40px 40px 40px;
  margin-bottom:10px;

  &__item-name {
    font-size:24px;
    text-align:center;
    word-wrap:break-word;
  }


  &__item--main-content {
    margin:16px 0 0;
    display:flex;
    flex-direction:row;

    &__item-photo {
      width:300px;
      height:375px;
      border:solid 0.5px black;

    }

    table.item-container__item-detail {
      width:300px;
      height:375px;
      border-collapse:collapse;
      border:1px solid $gray-b;
      margin-left:auto;

      tr {
        border-collapse:collapse;
        border:1px solid $gray-b;
          th {
            background-color: #fafafa;
            padding:10px;
          }
          td {
            padding:10px;
          }

      }

    }

  }

  &__item-price-container {
    margin:24px 0 0;
    text-align: center;

    span.item-price {
      font-size:50px;
      font-weight:600;
    }
    span.item-tax {
      font-size:10px;
    }
    span.item-shipping-fee {
      font-size:16px;
    }
  }

  &__item-buy-btn {
    background-color: $mercarired;
    color:$white-f;
    text-align:center;
    height:60px;
    line-height: 60px;
    font-size:24px;
    margin-top:16px;
  }

  &__item-description {
    padding:32px 0 0;
    font-size:18px;
    line-height:1.5;
  }

  &__various-btn {
    background-color:#7fffd4;
    display:flex;
    align-items:baseline;
    margin: 16px 0 0;

    &__left {
      width:300px;

      &__likes {
        padding:8px 16px;
        border:1px solid $gray-b;
        border-radius:40px;
        background-color:$gray-b;
        font-size:14px;
        line-height:14px;
        cursor:pointer;
      }

      &__report {
        border:1px solid $gray-b;
        border-radius:40px;
        background-color:$gray-b;
        margin-left:16px;
        cursor:pointer;
      }
    }

    &__safety {
      display:inline;
      margin-left: 60px;
      cursor:pointer;
    }
  }


}


.comment-container {
  width:700px;
  padding:24px;
  background-color:$white-b;

  &__message-container {
    margin-top:1.5em;

    .non_pics_icon {
      height:40px;
      width:40px;
      border-radius: 50%;
      overflow:hidden;
    }

    &-right {
      width:600px;
      margin-left:auto;

      &__name {
        display:inline-block;
        font-weight:bold;
      }


      &__body {
          width:600px;
          padding:16px;
          border-radius: 15px;
          background-color: #eef0f4;

        &-text {

        }
        &-icons {

        }

      }

    }

  }

  .message-form {
    margin:8px 0 0;

    p {
      padding:8px;
      background-color:#fff6de;
    }
    input {

    }

    textarea {
      width:100%;
      min-height: 104px;
      padding:10px;
      margin:8px 0 0;
    }
    button.comment-submit-button {
      background-color:#aaa;
      width:100%;
      border:1px solid #aaa;
      color:$white-f;
      line-height:48px;
      margin:8px 0 0;
    }


  }


.nav-item-link {
  width:700px;

  &-prev {
    background-color:red;
    color:red;

    i.fa-angle-left {
      display:inline-block;
    }

    .nav-item-link-prev {
      background-color:yellow;
    }


  &-next {
    margin-right:0 0 0 auto;

  }



  }


}



}

.social-media-container {
  width:700px;
  height:150px;
  background-color:$white-b;
  margin-top:24px;
  padding:32px 0 24px;

  &__box {
    width:700px;
    margin:30px 0 0;
    display:flex;
    justify-content:center;
    text-align: center;

    &__icon__f {
      width:44px;
      height:44px;
      border-style: solid;
      border-width:0;
      background-color:#385185;
      border-radius:5px;
      font-size:18px;
      color:$white-f;
      line-height: 44px;
      margin:0 8px 8px 0;



      .social-icon {
        display:inline-block;
      }


    }

    &__icon__t {
      width:44px;
      height:44px;
      border-style: solid;
      border-width:0;
      background-color:#5d9dc9;
      border-radius:5px;
      font-size:18px;
      color:$white-f;
      line-height: 44px;
      margin:0 8px 8px 0;

    }


    &__icon__p {
      width:44px;
      height:44px;
      border-style: solid;
      border-width:0;
      background-color:#aa262a;
      border-radius:5px;
      font-size:18px;
      color:$white-f;
      line-height: 44px;
      margin:0 8px 8px 0;

    }


  }

}

