.item-container

  .item-container__item-name 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ

  .item-container__item--main-content
    .item-container__item--main-content__item-photo
      .item-container__item--main-content__item-photo__main
      .item-container__item--main-content__item-photo__sub
        .item-container__item--main-content__item-photo__sub-containts
        .item-container__item--main-content__item-photo__sub-containts
        .item-container__item--main-content__item-photo__sub-containts
        .item-container__item--main-content__item-photo__sub-containts

  .item-container__item--main-content__
  %table.item-detail
    %tr
      %th 出品者
      %td aaa
    %tr
      %th カテゴリー
      %td メンズ
    %tr
      %th ブランド
      %td コーチ
    %tr
      %th 商品の状態
      %td めっちゃキレイ
    %tr
      %th 配送料の負担
      %td 送料込み(出品者負担)
    %tr
      %th 配送の方法
      %td らくらくメルカリ便
    %tr
      %th 配送元地域
      %td 大阪府
    %tr
      %th 発送日の目安
      %td 1~2日で発送

  .item-price-container
    .item-price-container__item-price ¥3,380
    .item-price-container__item-tax (税込み)
    .item-price-container__item-shipping-fee 送料込み

  .item-buy-btn

  .item-description
