.mypage{
  margin: 40px auto 0px auto;
  padding-bottom: 40px;
  width: 1020px;
  border-style: solid;
  color: $black-f;
  line-height: 1;
  &__content{
    width: 700px;
    background-color: $gray-b;
  }
  &__side{
    width: 280px;
    margin-right: 40px;
    border: solid 10px red;

    &__nav{
      &__list{

      }
    }
  }
}

