.mypage{
  margin: 40px auto 0px auto;
  padding-bottom: 40px;
  width: 1020px;
  color: $black-f;
  line-height: 1;
  &__content{
    width: 700px;
  }
  &__side{
    width: 280px;
    margin-right: 40px;
    &__nav{
      &__list{
        &__item{
          background-color: #fff;
          display: block;
          min-height: 48px;
          padding: 16px;
          border-top: 1px solid #eee;
          list-style: none;
          text-decoration: none;
          color: $black-f;
        }
      }
      &__head{
        min-height: 48px;
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 5px;
        font-size: 16px;
      }
    }
  }
}

